body {
.card {
background: white;
padding: 25px;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


/* News */
.news-grid {
display: grid;
grid-template-columns: 1fr;
}


.news-card {
display: flex;
background: white;
border-radius: 8px;
overflow: hidden;
margin-bottom: 25px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.news-card img {
width: 40%;
object-fit: cover;
}


.news-content {
padding: 20px;
}


.btn {
display: inline-block;
padding: 8px 16px;
background: #b30000;
color: white;
text-decoration: none;
border-radius: 6px;
}


.btn:hover {
opacity: 0.75;
}


/* Footer */
.footer {
background: #b30000;
color: white;
text-align: center;
padding: 25px 0;
}
