body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(135deg, #b30000, #ff3333);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
}

.btn-light {
    color: #b30000;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: #ffe5e5;
    color: #900000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
