body {
    font-family: 'Prompt', sans-serif;
}

.navbar .nav-link {
    font-size: 18px;
    font-weight: 600;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.btn-light {
    color: #b30000;
    font-weight: 600;
    border-radius: 30px;
    padding: 12px 30px;
    transition: 0.3s;
}

.btn-light:hover {
    background-color: #ffe5e5;
    color: #900000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
