body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(135deg, #b30000, #ff3333);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
}

.btn-light {
    color: #b30000;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-light:hover {
    background-color: #ffe5e5;
    color: #900000;
}

.btn-outline-light {
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 600;
}
