
body {
    font-family: 'Prompt', sans-serif;
    background-color: #fff5f5;
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(135deg, #b30000, #ff3333);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.3rem;
}

.btn-light {
    color: #b30000;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: #ffe5e5;
    color: #900000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

footer {
    background-color: #b30000;
    color: white;
    font-size: 16px;
}
