body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(135deg, #b30000, #ff3333);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
}

.btn-custom {
    background-color: #fff;
    color: #b30000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 14px 40px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    background-color: #ffe5e5;
    color: #900000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

table {
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

tr:hover {
    background-color: #ffe5e5;
}
