body {
    font-family: 'Prompt', sans-serif;
}

.hero {
    background: linear-gradient(135deg, #b30000, #ff3333);
    height: 70vh;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
}

.btn-light {
    color: #b30000;
    border-radius: 30px;
    padding: 12px 30px;
    transition: 0.3s;
}

.btn-light:hover {
    background-color: #ffe5e5;
    color: #900000;
}

table {
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

tr:hover {
    background-color: #ffe5e5;
}
