tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style103
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hyperlink;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:0%;
	mso-style-name:Percent;
	mso-style-id:5;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style16;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#C00000;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#C00000;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style16;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style16;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#C00000;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl74
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:.5pt dotted windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:1.0pt solid windowtext;}
.xl75
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:.5pt dotted windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:.5pt solid windowtext;}
.xl76
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:.5pt dotted windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:.5pt solid windowtext;}
.xl77
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:.5pt dotted windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:none;}
.xl78
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:1.0pt solid windowtext;}
.xl79
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:.5pt solid windowtext;}
.xl80
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt dotted windowtext;
	border-left:.5pt solid windowtext;}
.xl81
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl82
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl83
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl84
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl85
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl86
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#FFC000;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style16;
	color:red;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl88
	{mso-style-parent:style16;
	color:red;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl89
	{mso-style-parent:style16;
	color:red;
	font-size:16.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl90
	{mso-style-parent:style16;
	font-size:16.0pt;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;}
.xl91
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"DB Helvethaica X";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style103;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	vertical-align:middle;}
